*.lst
*.o
*.pyc
src/.dep
src/config.mk
src/config.h
src/usbmidijoy.ld
src/board.h
src/build/*
src/*.inc
regnual/regnual.bin
regnual/regnual.hex
regnual/regnual.elf
doc/_build
tests/.cache
tests/__pycache__
